<% layout("/layouts/boilerplate") %>
<div class="home row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 " >
    
    <div class="homecard">
        <img src="https://images.unsplash.com/photo-1649785181184-db56c56effcd?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWxzJTIwd2l0aCUyMHZpZXdzfGVufDB8fDB8fHww" class="card-img-top" alt="home_img_1">
    </div>
    <div class="homecard" >
        <b><h4>You say </h4><br>
        <h3> "I WANT TO TRAVEL !"</h3><br><br>
        <h4> We say</h4><br>
        <h2 style="color:#fe424d;">"<i class="fa-solid fa-umbrella-beach"></i>  PACK-UR-BAGS !! "</h2></b>
    </div>
    <div class="homecard">
        <img src="https://images.unsplash.com/photo-1697967202056-05282065b557?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWxzJTIwd2l0aCUyMHZpZXdzfGVufDB8fDB8fHww" class="card-img-top" alt="home_img_2">
    </div>
</div>




